<!DOCTYPE html>
<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

{% include 'head.html.twig' %}

</head>

<body id="body">
{% include 'menu.html.twig' %}
<!-- Header Start -->

<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class="animated fadeInUp">BLOG SCAEL</h1>
					{# <p class="animated fadeInUp">La meilleure ferme de Marville-Moutier-Brulée</p> #}
					{# <a href="https://themefisher.com/free-bootstrap-templates/" class="btn btn-main animated fadeInUp" >Free Bootstrap Templates</a> #}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Wrapper Start -->
<section class="about section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="block">
					<div class="section-title">
						<h2>À propos</h2>
					</div>
					<p>Bienvenue sur le blog de la Coopérative Agricole Scael, un espace dédié à partager notre passion pour l'agriculture durable et notre engagement envers les communautés agricoles. Fondée en [année de fondation], Scael coopère avec des agriculteurs locaux 
          pour promouvoir des pratiques agricoles respectueuses de l'environnement et soutenir l'économie rurale. À travers ce blog, nous vous invitons à découvrir les coulisses de nos activités, les histoires inspirantes de nos membres, et des conseils pratiques 
          pour une agriculture plus verte. Rejoignez-nous pour explorer les innovations qui façonnent l'avenir de l'agriculture et contribuer à un monde plus durable.</p>
				</div>
			</div><!-- .col-md-7 close -->
			<div class="col-md-5">
				<div class="block">
					<img src="{{asset("images/scael_chartres.jpg")}}" alt="Img">
				</div>
			</div><!-- .col-md-5 close -->
		</div>
	</div>
</section>

<section class="feature bg-2 text-dark">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <h2 class="section-subtitle">S’ENGAGER DANS UNE DÉMARCHE FILIÈRE POUR PLUS DE VALEUR ET DE RÉSILIENCE.</h2>
        <p class="p">Parce qu’une filière se construit sur un contrat de confiance, la SCAEL se positionne comme un intermédiaire indispensable entre ses adhérents engagés et ses clients soucieux de la qualité et de 
        l’impact environnemental de leurs produits. Le développement des filières est au cœur de la stratégie de la coopérative.
        </p>
        {# <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce
          dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </p>
        <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce
          dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        </p> #}
        <a href="portfolio.html" class="btn btn-view-works">View Works</a>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>Nos Services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <img src="{{asset("images/services/scael_pole_agricole_tiny.jpg")}}" alt="Img" style="width: 15rem;">
          <h4>PÔLE AGRICOLE</h4>
          <p>Cœur battant de la coopérative, le pôle agricole accompagne l’agriculteur dans chaque étape de ses productions.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <img src="{{asset("images/services/scael_pole_negoce_export_tiny.jpg")}}" alt="Img" style="width: 15rem;">
          <h4>PÔLE NÉGOCE EXPORT</h4>
          <p>Grâce à son expertise marché et logistique, notre Pôle Négoce Export garantit les meilleurs débouchés à nos agriculteurs.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <img src="{{asset("images/services/scael_pole_ditribution_grand_public_tiny.jpg")}}" alt="Img" style="width: 15rem;">
          <h4>PÔLE DISTRIBUTION GRAND PUBLIC</h4>
          <p>Animer les territoires et recréer du lien entre producteurs-paysans et consommateurs, telle est la mission de notre Pole Distribution Grand Public.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <img src="{{asset("images/services/scael_pole_laboratoires_services_tiny.jpg")}}" alt="Img" style="width: 15rem;">
          <h4>PÔLE LABORATOIRES ET SERVICES</h4>
          <p>Les équipes de notre pôle Laboratoires et Services accompagnent et conseillent les entreprises de l’agriculture céréalière…</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <img src="{{asset("images/services/scael_pole_innovation_developpement_tiny.jpg")}}" alt="Img" style="width: 15rem;">
          <h4>PÔLE INNOVATION ET DÉVELOPPEMENT</h4>
          <p>Conscient que le monde bouge rapidement, le groupe SCAEL a structuré son pôle Innovation et Développement pour répondre aux attentes de demain.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2 class="mb-3">We design delightful digital experiences.</h2>
					<p>Read more about what we do and our philosophy of design. Judge for yourself The work and results <br> we’ve
						achieved for other clients, and meet our highly experienced Team who just love to design.</p>
					<a class="btn btn-main btn-solid-border" href="contact.html">Tell Us Your Story</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>Fun Facts About Us</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, <br> there live the
            blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="counter-item">
                <i class="ion-ios-chatboxes-outline"></i>
                <h4 class="count" data-count="99">0</h4>
                <span>Cups Of Coffee</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-ios-glasses-outline"></i>
                <h4 class="count" data-count="45">0</h4>
                <span>Article Written</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-ios-compose-outline"></i>
                <h4 class="count" data-count="125">0</h4>
                <span>Projects Completed</span>
              </div>
            </li>
            <li>
              <div class="counter-item">
                <i class="ion-ios-timer-outline"></i>
                <h4 class="count" data-count="200">0</h4>
                <span>Combined Projects</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      {# ici #}
      <div class="col-md-5 col-md-offset-1">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ render(controller('App\\Controller\\ArticleController::recentArticle',{'max':3})) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer Start -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
						<li><a href="about.html">About Us</a></li>
						<li><a href="contact.html">Contact us</a></li>
						<li><a href="service.html">How it works</a></li>
						<li><a href="faq.html">FAQ</a></li>
						<li><a href="pricing.html">Pricing</a></li>
					</ul>
				</div>
				<p class="copyright mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; Designed & Developed by <a
						href="http://www.themefisher.com">Themefisher</a>. All rights reserved.
					<br> Get More <a href="https://themefisher.com/free-bootstrap-templates/">Free Bootstrap
						Templates</a>
				</p>
			</div>
		</div>
	</div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
	<span class="icon ion-ios-arrow-up"></span>
</div>

{% include 'script.html.twig' %}

    </body>

    </html>
   
